@import "tailwindcss";


/* Custom glass morphism effect */
.glass-effect {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .glass-effect {
  background-color: rgba(17, 17, 17, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html, body {
  overflow-y: scroll; /* keeps layout stable */
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;     /* for Firefox */
}
